# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df["date"] = pd.to_datetime(df["date"])
print (df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
# df = df.set_index('date')

df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column

df=df.drop(columns=['date'])
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [14]:
from scipy import stats
from scipy.stats import ttest_ind

In [15]:
# Filter data for the month of June
df = pd.read_csv('Resources/hawaii_measurements.csv')
df["date"] = pd.to_datetime(df["date"])
june_df =df[df['date'].dt.month == 6]
june_df.dropna(how='all')
june_df.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [16]:
# Filter data for the month of December
df["date"] = pd.to_datetime(df["date"])
dec_df =df[df['date'].dt.month == 12]
dec_df.dropna(how='all')
dec_df.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [17]:
# Identify the average temperature for June

avg_june=june_df["tobs"].mean()
avg_june

74.94411764705882

In [18]:
# Identify the average temperature for December
avg_dec=dec_df["tobs"].mean()
avg_dec

71.04152933421226

In [23]:
# Create collections of temperature data

june = june_df["tobs"]

dec = dec_df["tobs"]

In [25]:
# Run paired t-test
results = ttest_ind(june, dec)

results

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

From the analysis of the paired ttest the pvalue is greater or exceeds 0.05 level of significance which is indicative of no significance differences between june and december temperatures.The P-values do quantifies these temperatures are from the same geographical area and thus no significant differences in terms of the two analyezed months.